/* font-family: 'Shrikhand', cursive;
font-family: 'Open Sans Condensed', sans-serif; */

.header-color {
  background: #ec008c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #fc6767, #ec008c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #fc6767, #ec008c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
  background: #ec008c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #fc6767, #ec008c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #fc6767, #ec008c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; */
}

.app-footer {
  background: #ec008c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #fc6767, #ec008c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #fc6767, #ec008c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  text-align: center;
  /* position: fixed; */

  padding-bottom: 20px;
  font-family: 'Open Sans Condensed';
  color: black;
  font-size: 1.5em;
}

.projects-grid {
  display: flex;
}

.avatar-img {
  position: relative;
  align-content: center;
  height: 550px;

  padding-top: 3em;
  padding-bottom: 5em;
  padding-left: 28%;
  align-content: center;
}

.banner-text {
  background-color: rgba(128,128,128, 0.2);
  width: 75%;
  height: 100%;
  margin: auto;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.banner-text h1 {
  font-family:'Shrikhand';
  color: whitesmoke;
  font-size: 3em;
  padding-top: 1em;
}

.banner-text p {
  font-size: 1.3em;
  font-family: 'Open Sans Condensed';
  padding: 1em;
}

.banner-text hr {
  border-top: 0.5px solid black;
  width: 100%;
  margin: auto;
}

.icon-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
  font-size: 3em;
  margin: auto;
}

.icon-links i {
  color: white;
}

.contact-body {
  margin: auto;
  /* background: black; */
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  /* padding-top: 0.5em; */
}

.contact-grid {
  background-image: url('https://media.giphy.com/media/65n8RPEa3r65q/giphy.gif');
  /* background-size: cover; */
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 750px;
  color: white;
  /* border: 1px solid green; */
 /* margin-bottom: 10px; */
}

.contact-banner-text {
  background-color: rgba(150,79,206, 0.5);
  width: 100vh;
  height: 40vw;
  margin: auto;
  text-align: center;
  padding-top: 10em;
  padding-bottom: 5em;
}

.contact-banner-text h1 {
  font-family:'Cute Font';
  color: #E44867;
  font-size: 6em;
  padding-top: 1em;
}

.contact-banner-text p {
  font-size: 1.5em;
  font-family: 'Open Sans Condensed';
  padding: 1em;
}

.banner-text hr {
  border-top: 0.5px solid black;
  width: 100%;
  margin: auto;
}

/* Resume Component CSS */
.resume-left-col {
  background: white;
  text-align: center;
  /* color: white; */
}
.resume-left-col h2 {
  padding-top: 2em;
  font-size: 3.5em;
  font-style: italic;
  font-family: 'Cookie', cursive;
}
h2:hover {
  color: gray;
}

.resume-left-col h4 {
  font-family: 'Open Sans Condensed', sans-serif;
}
h4:hover {
  color: brown;
}

.resume-right-col {
  background: #FBF5FC;
  /* background-color: rgba(100,59,26, 0.5); */
  color: black;
  padding-left: 3em;
}

.App {
  text-align: center;
  font-size: 3em;
  padding-top: 1em;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
